body{
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#1f1f1f;
}

.quiz-container{
background:white;
padding:20px;
width:400px;
border-radius:15px;
text-align:center;
}

button{
display:block;
width:100%;
padding:10px;
margin:10px 0;
font-size:18px;
cursor:pointer;
border:none;
border-radius:10px;
}

button:hover{
background:lightgray;
}

#nextBtn{
background:#4CAF50;
color:white;
}

.correct{
background:lightgreen;
}

.wrong{
background:salmon;
}